QLabel {
        color: #187b24; /* Couleur or vieilli */
        font-family: 'Palatino Linotype', 'Georgia', serif;
        font-size: 70px;
        font-weight: bold;
        letter-spacing: 5px;
        /* Ombre pour simuler la profondeur sur la brique */
        qproperty-alignment: 'AlignCenter';
    }

QPushButton {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, 
                                stop:0 #4e342e, stop:1 #261b18); /* Dégradé bois sombre */
    color: #d7ccc8;
    font-family: 'Georgia', serif;
    font-size: 24px;
    font-weight: bold;
    
    border: 3px solid #1a1a1a; /* Bordure fer forgé */
    border-radius: 8px;
    
    /* C'est ici qu'on agrandit la taille */
    min-width: 400px;
    min-height: 30px;
    margin-bottom: 10px;
}

QPushButton:hover {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, 
                                stop:0 #5d4037, stop:1 #3e2723);
    border: 3px solid #e0ca82; /* Lueur dorée au survol */
    color: #ffffff;
}

QPushButton:pressed {
    background: #1b110f;
    padding-top: 5px; /* Effet enfoncé */
    padding-left: 5px;
}

#Victoire { 
        
    /*On ajoute une couleur de fond noire qui servira de base pour assombrir */
    background-color: rgba(26, 18, 11, 180);}